# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
.venv/
venv/
.venv-ci/
# IDE
.idea/

# pytest
.pytest_cache/

# OS
.DS_Store
Thumbs.db

# 自己不要提交的目录
old_test/
data/
pack01/
test_login.py
utils/
pages/
tests/ui/
allure-results/
